<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <script src="../vue.js"></script>
</head>
<body>
  <div id="app">
    <!-- checkbox单选框 -->
    <!-- <label for="male">
      <input type="checkbox" id="licence" v-model="isAgree">同意协议
    </label>
    您选择的性别是{{isAgree}}
    <button :disabled="!isAgree">下一步</button> -->
    <!-- checkbox多选框 -->
    <label for="male">
      <input type="checkbox" value="篮球" v-model="hobbies">篮球
      <input type="checkbox" value="足球" v-model="hobbies">足球
      <input type="checkbox" value="乒乓球" v-model="hobbies">乒乓球
      <input type="checkbox" value="羽毛球" v-model="hobbies">羽毛球
      <h2>您的爱好是{{hobbies}}</h2>
    </label>
  </div>
  <script>
    const app = new Vue({
      el: "#app",
      data: {
        message: "你好啊",
        isAgree: false, // 单选框
        hobbies: [] // 多选框
      }
    })
  </script>
</body>
</html>