<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <script src="../vue.js"></script>
</head>
<body>
  <div id="app">
    <!-- 1.选择一个 -->
    <!-- <select name="abc" id="" v-model="fruit">
      <option value="苹果">苹果</option>
      <option value="香蕉">香蕉</option>
      <option value="葡萄">葡萄</option>
    </select>
    <h2>选择的水果是{{fruit}}</h2> -->
    <!-- 1.选择一个 -->
    <select name="abc" id="" v-model="fruits" multiple>
      <option value="苹果">苹果</option>
      <option value="香蕉">香蕉</option>
      <option value="葡萄">葡萄</option>
    </select>
    <h2>选择的水果是{{fruits}}</h2>
    <label v-for="item in originHobbies" :for="item">
      <input type="checkbox":value="item" :id="item" v-model="fruits">{{item}}
    </label>
  </div>
  <script>
    const app = new Vue({
      el: "#app",
      data: {
        message: "你好啊",
        fruit: '香蕉',
        fruits: '香蕉',
        originHobbies: ['苹果','西红柿','香蕉','葡萄']
      }
    })
  </script>
</body>
</html>